@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

/* line 18, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 1;
}

/* line 25, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #332f32;
  opacity: 0.9;
  animation: backload 7400ms forwards linear;
}

@keyframes backload {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/* line 48, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.ball1 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  animation: slideball 1400ms both ease-in-out;
  animation-iteration-count: 3;
  margin-top: 50vh;
}

/* line 58, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.ball2 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  margin-left: 2%;
  animation: slideball 1400ms 1400ms both ease-out;
  animation-iteration-count: 3;
  margin-top: 50vh;
}

/* line 69, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.ball3 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  margin-left: 2%;
  animation: slideball 1400ms 2800ms both ease-out;
  animation-iteration-count: 3;
  margin-top: 50vh;
}

@keyframes slideball {
  0% {
    transform: scale(0);
    background-color: #FF79DA;
  }
  10% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
  }
  30% {
    transform: scale(0.6);
    background-color: #9356DC;
  }
  40% {
    transform: scale(0.5);
    background-color: #FF79DA;
  }
  50% {
    transform: scale(1);
    background-color: #9356DC;
  }
  60% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(0.6);
    background-color: #9356DC;
  }
  80% {
    transform: scale(0.4);
    background-color: #bd58e2;
  }
  90% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0);
    background-color: #FF79DA;
  }
}

/* line 124, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
body {
  margin: 0;
  font-family: roboto, serif;
  position: absolute;
}

/* line 130, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
a {
  text-decoration: none;
  color: #000000;
}

/* line 135, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* line 141, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
header > figure {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

/* line 148, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.localisation {
  width: 100%;
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px #cecece inset;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 24px;
}

/* line 160, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.localisation > i {
  padding-right: 5%;
}

/* line 164, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 171, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > h1 {
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
}

/* line 177, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > p {
  font-size: 26px;
}

/* line 181, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
  transition: all 200ms;
  outline: none;
  cursor: pointer;
}

/* line 193, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > input:hover {
  background: linear-gradient(#9356dc, #FF79DA);
  opacity: 0.8;
}

/* line 199, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  padding-bottom: 30px;
}

/* line 208, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
aside > h2 {
  padding-right: 42%;
  font-weight: bold;
}

/* line 213, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_use {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  box-shadow: 6px 4px 8px #eaeaea;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: all 300ms ease-out;
  background-color: #f6f6f6;
  cursor: pointer;
}

/* line 225, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_use:hover {
  background-color: #eee5fa;
  transform: scale(1.1);
}

/* line 228, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_use:hover .fa.fa-mobile, .block_use:hover .fa.fa-list-ul, .block_use:hover .fas.fa-store.main-operation__icons {
  color: #9356dc;
}

/* line 234, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.fa.fa-mobile, .fa.fa-list-ul, .fas.fa-store.main-operation__icons {
  color: #454142;
  padding-left: 6%;
  padding-right: 6%;
  transition: color;
}

/* line 241, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.purple_number {
  margin-left: -4%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #9356dc;
  text-align: center;
  color: #FFFFFF;
}

/* line 251, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
nav {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px -2px 1px #cecece inset;
}

/* line 266, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
nav > h2 {
  padding-right: 51%;
  font-size: 36px;
}

/* line 271, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_restau {
  height: 230px;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px #d4d4d4;
}

/* line 283, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_restau img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

/* line 290, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_restau p {
  margin: 0 auto;
  display: block;
  padding-bottom: 8px;
}

/* line 296, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.text_restau {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px;
  padding-top: 4px;
  padding-left: 5%;
  color: #000000;
}

/* line 306, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.restau_title {
  font-weight: bold;
}

/* line 310, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.heart {
  margin-left: 150px;
  margin-top: 10px;
  font-size: 24px;
  color: #FFFFFF;
  filter: drop-shadow(0px 0px 4px black);
  transition: all 200ms 100ms;
}

/* line 317, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 322, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.heart > i {
  transform: scale(1);
  transition: all 300ms;
}

/* line 325, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.heart > i:hover {
  transform: scale(1.2);
}

/* line 330, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 340, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer > img {
  filter: invert(100%);
  width: 20%;
}

/* line 345, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

/* line 355, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer > a > i {
  padding-right: 12%;
}

/* line 359, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.fa.fa-handshake-o {
  transform: rotate(-45deg);
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 369, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .bloc_page {
    padding-top: 4%;
    margin: 0;
  }
  /* line 374, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 379, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 384, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* line 390, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  header > figure {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  /* line 397, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .localisation {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #cecece inset;
    font-weight: bold;
    border-radius: 0;
  }
  /* line 407, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .localisation > i {
    padding-right: 5%;
  }
  /* line 411, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  /* line 418, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > h1 {
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
  }
  /* line 424, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
  }
  /* line 434, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > input:active {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.8;
  }
  /* line 440, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
  }
  /* line 448, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside > h2 {
    padding-right: 40%;
    font-weight: bold;
  }
  /* line 453, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_use {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    box-shadow: 6px 4px 8px #e7e7e7;
    border-radius: 15px;
    margin-bottom: 25px;
    background-color: #f6f6f6;
  }
  /* line 465, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside > i {
    color: #9356dc;
    padding-left: 6%;
    padding-right: 6%;
  }
  /* line 470, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .purple_number {
    margin-left: -4%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9356dc;
    text-align: center;
    color: #FFFFFF;
  }
  /* line 480, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  nav {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 60px;
    border-radius: 0;
  }
  /* line 492, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  nav > h2 {
    padding-right: 50%;
    font-size: 30px;
  }
  /* line 497, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau {
    height: 210px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
  }
  /* line 509, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
  /* line 516, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau p {
    margin: 0 auto;
  }
  /* line 520, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .text_restau {
    height: 70px;
    color: #000000;
  }
  /* line 525, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .restau_title {
    font-weight: bold;
  }
  /* line 529, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart {
    padding-left: 8%;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 4%;
    margin-left: 30%;
    filter: drop-shadow(0px 0px 4px black);
    transition: color 200ms;
  }
  /* line 537, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 542, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: initial;
  }
  /* line 551, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > img {
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 558, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 0.2;
    padding-left: 4%;
  }
  /* line 570, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > a > i {
    padding: 0;
  }
  /* line 574, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .fa.fa-cutlery {
    margin-right: 3%;
  }
  /* line 578, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
    margin-right: 2%;
  }
}

/*Query tablets*/
@media screen and (min-width: 481px) and (max-width: 999px) {
  /* line 590, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .bloc_page {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 596, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  body {
    font-family: roboto, serif;
  }
  /* line 600, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 605, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* line 611, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  header > figure {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 618, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .localisation {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #cecece inset;
    font-weight: bold;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 24px;
  }
  /* line 630, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .localisation > i {
    padding-right: 5%;
  }
  /* line 634, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  /* line 641, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > h1 {
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
  }
  /* line 647, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > p {
    font-size: 26px;
  }
  /* line 651, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
  }
  /* line 661, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > input:hover {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 667, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    padding-bottom: 30px;
  }
  /* line 676, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside > h2 {
    padding-right: 42%;
    font-weight: bold;
  }
  /* line 681, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_use {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    box-shadow: 6px 4px 8px #e7e7e7;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: all 300ms;
  }
  /* line 691, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_use:hover {
    background-color: #f6f6f6;
    transform: scale(1.1);
  }
  /* line 697, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside i {
    color: #9356dc;
    padding-left: 6%;
    padding-right: 6%;
  }
  /* line 702, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .purple_number {
    margin-left: -4%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9356dc;
    text-align: center;
    color: #FFFFFF;
  }
  /* line 712, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  nav {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px -2px 1px #cecece inset;
  }
  /* line 727, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  nav > h2 {
    padding-right: 51%;
    font-size: 36px;
  }
  /* line 732, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau {
    height: 230px;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
  }
  /* line 744, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
  /* line 751, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau p {
    margin: 0 auto;
    display: block;
    padding-bottom: 8px;
  }
  /* line 757, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .text_restau {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    padding-top: 4px;
    padding-left: 5%;
    color: #000000;
  }
  /* line 767, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .restau_title {
    font-weight: bold;
  }
  /* line 771, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 24px;
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px black);
    transition: all 200ms;
  }
  /* line 778, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 783, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart > i {
    transform: scale(1);
    transition: all 500ms;
  }
  /* line 786, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart > i:hover {
    transform: scale(1.2);
  }
  /* line 791, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
  }
  /* line 801, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > img {
    filter: invert(100%);
    width: 20%;
    padding-left: 3%;
    padding-right: 5%;
  }
  /* line 808, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    width: 20%;
    padding-left: 8%;
    text-align: center;
  }
  /* line 821, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > a > i {
    padding-right: 10%;
  }
  /* line 825, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */