@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

@font-face {
  font-family: 'shrikhand';
  src: url("../images/police/shrikhand/shrikhand-regular.ttf");
}

/* line 24, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 30, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
body {
  font-family: roboto, serif;
}

/* line 34, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
a {
  text-decoration: none;
  color: #000000;
}

/* line 39, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
header {
  width: 100%;
}

/* line 43, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.rewind {
  display: none;
}

/* line 47, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
header > figure {
  text-align: center;
  font-size: 34px;
}

/* line 52, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.on_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

/* line 59, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.photo_restau {
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* line 65, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.photo_restau > img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* line 72, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
article {
  box-shadow: 0px 2px 1px #cecece inset;
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 20px;
  margin-top: 53%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* line 85, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9%;
}

/* line 92, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
h1 {
  font-family: shrikhand, serif;
  font-size: 32px;
}

/* line 97, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.heart {
  margin-left: 45%;
  font-size: 28px;
  color: #f6f6f6;
  filter: drop-shadow(0px 0px 4px black);
  transition: all 200ms 100ms;
}

/* line 103, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 108, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.heart > i {
  transform: scale(1);
  transition: all 300ms;
}

/* line 111, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.heart > i:hover {
  transform: scale(1.2);
}

/* line 116, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.little_title {
  margin-left: 9%;
  padding-bottom: 20px;
}

/* line 121, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
h2 {
  font-size: 20px;
  margin: 0;
}

/* line 126, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.green_bar {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 1%;
}

/* line 133, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.section_food {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 140, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.block_food {
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 2px 2px 3px #d4d4d4;
  margin-bottom: 20px;
  padding: 0;
  animation: translate_bar 800ms ease-out;
}

/* line 153, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .greencheck {
  transform: translate(0, 0);
  display: initial;
}

/* line 157, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .fas.fa-check-circle {
  transform: rotate(1turn);
}

@keyframes translate_bar {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate 0, 0;
  }
}

/* line 174, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.plats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 3%;
  padding-top: 4px;
}

/* line 182, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.plats > p {
  margin: 0;
  padding-left: 3%;
  line-height: 1.5;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 192, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.plats > p:nth-child(1) {
  font-weight: bold;
}

/* line 196, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.block_food > p {
  margin-top: 4%;
  font-weight: bold;
  padding-left: 9%;
}

/* line 202, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.greencheck {
  height: 100%;
  width: 60px;
  background-color: #99e2d0;
  border-radius: 0px 25px 25px 0px;
  margin-left: 15px;
  display: none;
  transform: translate(60px, 0);
  transition: all 400ms;
}

/* line 213, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.fas.fa-check-circle {
  color: #FFFFFF;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  transform: rotate(O) 400ms;
  transition: all 400ms;
}

/* line 223, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
article input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
  transition: all 200ms;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 238, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
article input:hover {
  background: linear-gradient(#9356dc, #FF79DA);
  opacity: 0.9;
}

/* line 244, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 254, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
footer > img {
  filter: invert(100%);
  width: 20%;
}

/* line 259, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

/* line 269, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
footer > a > i {
  padding-right: 12%;
}

/* line 273, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
.fa.fa-handshake-o {
  transform: rotate(-45deg);
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 285, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    padding-top: 2%;
    margin: 0 auto;
  }
  /* line 290, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 295, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  /* line 303, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    margin-left: 7%;
    display: initial;
  }
  /* line 308, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .rewind > a > i {
    font-size: 20px;
    color: #000000;
  }
  /* line 313, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  header > figure > img {
    margin-left: 8%;
  }
  /* line 317, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 324, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 330, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    object-fit: cover;
    width: 100%;
  }
  /* line 335, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  article {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 347, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  /* line 354, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 359, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 20%;
    font-size: 24px;
    color: #f6f6f6;
    filter: drop-shadow(0px 0px 4px black);
    transition: color 200ms;
  }
  /* line 365, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 370, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 375, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 380, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 387, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 394, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 406, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 3%;
  }
  /* line 413, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 424, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 428, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 9%;
    margin-left: 4%;
    font-weight: bold;
  }
  /* line 434, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 449, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  article input:active {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 455, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: initial;
  }
  /* line 464, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 470, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    padding-left: 4%;
  }
  /* line 481, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding: 0;
  }
  /* line 485, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-cutlery {
    margin-right: 3%;
  }
  /* line 489, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
    margin-right: 2%;
  }
}

/*Query tablets*/
@media screen and (min-width: 481px) and (max-width: 999px) {
  /* line 502, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 508, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  body {
    font-family: roboto, serif;
  }
  /* line 512, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 517, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  header {
    width: 100%;
  }
  /* line 521, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    display: none;
  }
  /* line 525, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  header > figure {
    text-align: center;
    font-size: 34px;
  }
  /* line 530, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 537, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 543, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  /* line 550, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  article {
    box-shadow: 0px 2px 1px #cecece inset;
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 563, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9%;
  }
  /* line 570, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 575, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 50%;
  }
  /* line 579, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .heart > i {
    font-size: 24px;
    transition: all 300ms;
  }
  /* line 582, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .heart > i:hover {
    color: #9356dc;
  }
  /* line 587, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 592, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 597, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 604, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 611, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    padding-top: 5px;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 624, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 3%;
  }
  /* line 631, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 642, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 646, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 4%;
    font-weight: bold;
    margin-left: 9%;
  }
  /* line 652, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 667, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  article input:hover {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 673, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
  }
  /* line 683, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    filter: invert(100%);
    width: 20%;
  }
  /* line 688, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
  }
  /* line 698, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding-right: 12%;
  }
  /* line 702, ../P3/ohmyfood/CSS - SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=stylemenu.css.map */