@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

@font-face {
  font-family: 'shrikhand';
  src: url("../images/police/shrikhand/shrikhand-regular.ttf");
}

/* line 23, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 29, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
body {
  font-family: roboto, serif;
}

/* line 33, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
a {
  text-decoration: none;
}

/* line 37, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* line 43, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
header > figure {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

/* line 50, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.localisation {
  width: 100%;
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px #cecece inset;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 24px;
}

/* line 62, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.localisation > i {
  padding-right: 5%;
}

/* line 66, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 73, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > h1 {
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
}

/* line 79, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > p {
  font-size: 26px;
}

/* line 83, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
section > input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
}

/* line 94, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  padding-bottom: 30px;
}

/* line 103, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
aside > h2 {
  padding-right: 42%;
  font-weight: bold;
}

/* line 108, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_use {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  box-shadow: 6px 4px 8px #e7e7e7;
  border-radius: 15px;
  margin-bottom: 40px;
}

/* line 119, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
aside i {
  color: #9356dc;
  padding-left: 6%;
  padding-right: 6%;
}

/* line 124, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.purple_number {
  margin-left: -4%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #9356dc;
  text-align: center;
  color: #FFFFFF;
}

/* line 134, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
nav {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px -2px 1px #cecece inset;
}

/* line 149, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
nav > h2 {
  padding-right: 51%;
  font-size: 36px;
}

/* line 154, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_restau {
  height: 230px;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px #d4d4d4;
}

/* line 166, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_restau img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

/* line 173, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.block_restau p {
  margin: 0 auto;
}

/* line 177, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.text_restau {
  height: 70px;
  padding-left: 5%;
  padding-top: 4%;
  line-height: 0.4;
  color: #000000;
}

/* line 185, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.restau_title {
  font-weight: bold;
}

/* line 189, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.heart {
  text-align: right;
  padding-right: 4%;
  font-size: 24px;
  transition: color 400ms;
}

/* line 194, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 199, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 209, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer > img {
  filter: invert(100%);
  width: 20%;
  padding-left: 3%;
  padding-right: 5%;
}

/* line 216, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  width: 20%;
}

/* line 227, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
footer > a > i {
  padding-right: 4%;
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 236, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .bloc_page {
    padding-top: 4%;
    margin: 0;
  }
  /* line 241, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 246, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  a {
    text-decoration: none;
  }
  /* line 250, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* line 256, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  header > figure {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  /* line 263, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .localisation {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #cecece inset;
    font-weight: bold;
  }
  /* line 272, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .localisation > i {
    padding-right: 5%;
  }
  /* line 276, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  /* line 283, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > h1 {
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
  }
  /* line 289, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  section > input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
  }
  /* line 300, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
  }
  /* line 308, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside > h2 {
    padding-right: 40%;
    font-weight: bold;
  }
  /* line 313, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_use {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    box-shadow: 6px 4px 8px #e7e7e7;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  /* line 324, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  aside > i {
    color: #9356dc;
    padding-left: 6%;
    padding-right: 6%;
  }
  /* line 329, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .purple_number {
    margin-left: -4%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9356dc;
    text-align: center;
    color: #FFFFFF;
  }
  /* line 339, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  nav {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 60px;
    border-radius: 0;
  }
  /* line 351, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  nav > h2 {
    padding-right: 55%;
    font-size: 30px;
  }
  /* line 356, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau {
    height: 210px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
  }
  /* line 368, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
  /* line 375, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .block_restau p {
    margin: 0 auto;
  }
  /* line 379, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .text_restau {
    height: 70px;
    padding-left: 5%;
    padding-top: 4%;
    line-height: 0.4;
    color: #000000;
  }
  /* line 387, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .restau_title {
    font-weight: bold;
  }
  /* line 391, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  .heart {
    text-align: right;
    padding-right: 4%;
    font-size: 24px;
  }
  /* line 397, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
  }
  /* line 405, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > img {
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 412, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    padding-left: 4%;
    font-weight: bold;
    font-size: 12px;
    line-height: 0.5;
  }
  /* line 424, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  footer > a > i {
    padding-right: 2%;
  }
  /* line 428, ../P3/ohmyfood/CSS - SCSS/SCSS/style.SCSS */
  i.fa.fa-cutlery {
    padding-right: 3%;
  }
}

/*# sourceMappingURL=style.css.map */