$background1: #eaeaea;
$background2: #f6f6f6;
$darkpurple: #9356dc;
$lightpurple: #FF79DA;
$policetext: roboto, serif;
$policelogo: shrikhand, serif;

@font-face{   
    font-family: 'roboto';
    src: url('../images/police/roboto/roboto-black.ttf');
    src: url('../images/police/roboto/roboto-bold.ttf');
    src: url('../images/police/roboto/roboto-light.ttf');
    src: url('../images/police/roboto/roboto-medium.ttf');
    src: url('../images/police/roboto/roboto-regular.ttf');
    src: url('../images/police/roboto/roboto-thin.ttf');
}

.bloc_page{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 1;
}

.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #332f32;
    opacity: 1;
    animation: backload 7400ms forwards ease-in;
}

@keyframes backload{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}

.ball1{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
    animation: slideball 1400ms both ease-in-out;
    animation-iteration-count: 3;
    margin-top: 50vh;
    position: fixed;
}

.ball2{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
    margin-left: 2%;
    animation: slideball 1400ms 1400ms both ease-out;
    animation-iteration-count: 3;
    margin-top: 50vh;
}

.ball3{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
    margin-left: 2%;
    animation: slideball 1400ms 2800ms both ease-out;
    animation-iteration-count: 3;
    margin-top: 50vh;
}

@keyframes slideball{
    0%{
        transform: scale(0);
        background-color: #FF79DA;
    }
    10%{
        transform: scale(0.2);
    }
    20%{
        transform: scale(0.4);
    }
    30%{
        transform: scale(0.6);
        background-color: #9356DC;
    }
    40%{
        transform: scale(0.5);
        background-color: #FF79DA;
    }
    50%{
        transform: scale(1);
        background-color: #9356DC;
    }
    60%{
        transform: scale(0.8);
    }
    70%{
        transform: scale(0.6);
        background-color: #9356DC;
    }
    80%{
        transform: scale(0.4);
        background-color: #bd58e2;
    }
    90%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(0);
        background-color: #FF79DA;
    }

}

body{
    margin: 0;
    font-family: $policetext;
    position: absolute;
}

a{
    text-decoration: none;
    color: #000000;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header>figure{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.localisation{
    width: 100%;
    display: flex;
    background-color: $background1;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #cecece inset;
    font-weight: bold;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 24px;
}
.localisation>i{
    padding-right: 5%;
}

section{
    background-color: $background2;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

section>h1{
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
}

section>p{
    font-size: 26px;
}

section>input{
    background: linear-gradient($lightpurple, $darkpurple);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    cursor: pointer;
        &:hover{
            background: linear-gradient($darkpurple, $lightpurple);
            opacity: 0.8;
        }
}

aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    padding-bottom: 30px;
}

aside>h2{
    padding-right: 42%;
    font-weight: bold;
}

.block_use{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    box-shadow: 6px 4px 8px $background1;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: all 300ms ease-out;
    background-color: $background2;
    position: relative;
    cursor: pointer;
        &:hover{
            background-color: #eee5fa;
            transform: scale(1.1);
            .fa.fa-mobile, .fa.fa-list-ul, .fas.fa-store.main-operation__icons{
                    color: $darkpurple;
                }
        }
}

.fa.fa-mobile, .fa.fa-list-ul, .fas.fa-store.main-operation__icons{
    color: #454142;
    padding-left: 6%;
    padding-right: 6%;
    transition: color;
}

.purple_number{
    margin-left: -2%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: $darkpurple;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}

nav{
    background-color: $background2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px -2px 1px #cecece inset;
}

nav>h2{
    padding-right: 51%;
    font-size: 36px;
}

.block_restau{
    height: 230px;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
}

.block_restau img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.block_restau p{
    margin: 0 auto;
    display: block;
    padding-bottom: 8px;
}

.text_restau{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    padding-top: 4px;
    padding-left: 5%;
    color: #000000;
}

.restau_title{
    font-weight: bold;
}

.heart{
    margin-left: 35%;
    margin-top: 10px;
    font-size: 24px;
    color: #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px black);
    transition: all 200ms 100ms;
        &:hover{
            color: $darkpurple;
        }
}

.heart>i{
    transform: scale(1);
    transition: all 300ms;
        &:hover{
            transform: scale(1.2)
        }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
}

footer>img{
    filter: invert(100%);
    width: 20%;
}

footer>a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}

footer>a>i{
    padding-right: 12%;
}

.fa.fa-handshake-o{
    transform: rotate(-45deg);
}



/*Query Smartphone*/

@media screen and (max-width: 480px)
{
    .bloc_page{
        padding-top: 4%;
        margin: 0;
    }

    body{
        margin: 0 auto;
        font-family: $policetext;
    }

    a{
        text-decoration: none;
        color: #000000;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header>figure{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
    }

    .localisation{
        width: 100%;
        display: flex;
        background-color: $background1;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 1px #cecece inset;
        font-weight: bold;
        border-radius: 0;
    }
    .localisation>i{
        padding-right: 5%;
    }

    section{
        background-color: $background2;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    section>h1{
        margin: 0 auto;
        font-size: 28px;
        font-weight: bold;
    }

    section>input{
        background: linear-gradient($lightpurple, $darkpurple);
        border-radius: 50px;
        text-decoration: none;
        padding: 13px;
        color: #FFFFFF;
        font-weight: bold;
        border: none;
        box-shadow: 0.5px 0.5px 2px #000;
        transition: all 200ms;
        &:active{
            background: linear-gradient($darkpurple, $lightpurple);
            opacity: 0.8;
        }
    }

    aside{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: 20px;
    }

    aside>h2{
        padding-right: 40%;
        font-weight: bold;
    }

    .block_use{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        align-items: center;
        box-shadow: 6px 4px 8px #e7e7e7;
        border-radius: 15px;
        margin-bottom: 25px;
        background-color: $background2;
    }

    aside>i{
        color: $darkpurple;
        padding-left: 6%;
        padding-right: 6%;
    }
    .purple_number{
        margin-left: -4%;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: $darkpurple;
        text-align: center;
        color: #FFFFFF;
    }

    nav{
        background-color: $background2;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 50px;
        align-items: center;
        padding-bottom: 60px;
        border-radius: 0;
    }

    nav>h2{
        font-size: 30px;
    }

    .block_restau{
        height: 210px;
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-around;
        background-color: white;
        border-radius: 25px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 3px #d4d4d4;
    }

    .block_restau img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }

    .block_restau p{
        margin: 0 auto;
    }

    .text_restau{
        height: 70px;
        color: #000000;
    }

    .restau_title{
        font-weight: bold;
    }

    .heart{
        font-size: 24px;
        color: #FFFFFF;
        margin-top:4%;
        margin-left: 30%;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 4px black);
        transition: color 200ms;
            &:active{
                color: $darkpurple;
            }
    }

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #353535;
        padding-bottom: 20px;
        align-items: initial;
    }

    footer>img{
        filter: invert(100%);
        width: 25%;
        padding: 4%;

    }

    footer>a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #FFFFFF;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 0.2;
        padding-left: 4%;
    }

    footer>a>i{
        padding: 0;
    }

    .fa.fa-cutlery{
        margin-right: 3%;
    }

    .fa.fa-handshake-o{
        transform: rotate(-45deg);
        margin-right: 2%;
    }
}



/*Query tablets*/

@media screen and (min-width: 481px) and (max-width: 999px)
{
    .bloc_page{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    body{
        font-family: $policetext;
    }
    
    a{
        text-decoration: none;
        color: #000000;
    }
    
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header>figure{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .localisation{
        width: 100%;
        display: flex;
        background-color: $background1;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 1px #cecece inset;
        font-weight: bold;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        font-size: 24px;
    }
    .localisation>i{
        padding-right: 5%;
    }
    
    section{
        background-color: $background2;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    
    section>h1{
        margin: 0 auto;
        font-size: 32px;
        font-weight: bold;
    }
    
    section>p{
        font-size: 26px;
    }
    
    section>input{
        background: linear-gradient($lightpurple, $darkpurple);
        border-radius: 50px;
        text-decoration: none;
        padding: 13px;
        color: #FFFFFF;
        font-weight: bold;
        border: none;
        box-shadow: 0.5px 0.5px 2px #000;
        transition: all 200ms;
            &:hover{
                background: linear-gradient($darkpurple, $lightpurple);
                opacity: 0.9;
            }
    }
    
    aside{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: 24px;
        padding-bottom: 30px;
    }
    
    aside>h2{
        padding-right: 42%;
        font-weight: bold;
    }
    
    .block_use{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        align-items: center;
        box-shadow: 6px 4px 8px #e7e7e7;
        border-radius: 15px;
        margin-bottom: 40px;
        transition: all 300ms;
        position: relative;
            &:hover{
                background-color: $background2;
                transform: scale(1.1)
            }
    }
    
    aside i{
        color: $darkpurple;
        padding-left: 6%;
        padding-right: 6%;
    }
    .purple_number{
        margin-left: -3%;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: $darkpurple;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
    }
    
    nav{
        background-color: $background2;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 30px;
        align-items: center;
        padding-bottom: 60px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px -2px 1px #cecece inset;
    }
    
    nav>h2{
        padding-right: 51%;
        font-size: 36px;
    }
    
    .block_restau{
        height: 230px;
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: space-around;
        background-color: white;
        border-radius: 25px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 3px #d4d4d4;
    }
    
    .block_restau img{
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }
    
    .block_restau p{
        margin: 0 auto;
        display: block;
        padding-bottom: 8px;
    }
    
    .text_restau{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70px;
        padding-top: 4px;
        padding-left: 5%;
        color: #000000;
    }
    
    .restau_title{
        font-weight: bold;
    }
    
    .heart{
        margin: 0 auto;
        margin-top: 10px;
        font-size: 24px;
        color: #FFFFFF;
        filter: drop-shadow(0px 0px 4px black);
        transition: all 200ms;
            &:active{
                color: $darkpurple;
            }
    }
    
    .heart>i{
        transform: scale(1);
        transition: all 500ms;
            &:hover{
                transform: scale(1.2)
            }
    }
    
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #353535;
        padding-bottom: 20px;
        align-items: center;
        padding-top: 2%;
    }
    
    footer>img{
        filter: invert(100%);
        width: 20%;
        padding-left: 3%;
        padding-right: 5%;
    }
    
    footer>a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #FFFFFF;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        width: 20%;
        padding-left: 8%;
        text-align: center;
    }
    
    footer>a>i{
        padding-right: 10%;
    }

    .fa.fa-handshake-o{
        transform: rotate(-45deg);
    }
}