@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

@font-face {
  font-family: 'shrikhand';
  src: url("../images/police/shrikhand/shrikhand-regular.ttf");
}

/* line 24, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 30, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
body {
  font-family: roboto, serif;
}

/* line 34, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
a {
  text-decoration: none;
  color: #000000;
}

/* line 39, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
header {
  width: 100%;
}

/* line 43, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.rewind {
  display: none;
}

/* line 47, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
header > figure {
  text-align: center;
  font-size: 34px;
}

/* line 52, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.on_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

/* line 59, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.photo_restau {
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* line 65, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.photo_restau > img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* line 73, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article {
  box-shadow: 0px 2px 1px #cecece inset;
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 20px;
  margin-top: 53%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* line 86, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9%;
}

/* line 93, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
h1 {
  font-family: shrikhand, serif;
  font-size: 32px;
}

/* line 98, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart {
  margin-left: 45%;
  font-size: 28px;
  color: #f6f6f6;
  -webkit-filter: drop-shadow(0px 0px 4px black);
  filter: drop-shadow(0px 0px 4px black);
  transition: all 200ms 100ms;
}

/* line 105, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 110, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart > i {
  transform: scale(1);
  transition: all 300ms;
}

/* line 113, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart > i:hover {
  transform: scale(1.2);
}

/* line 118, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.little_title {
  margin-left: 9%;
  padding-bottom: 20px;
}

/* line 123, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
h2 {
  font-size: 20px;
  margin: 0;
}

/* line 128, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.green_bar {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 1%;
}

/* line 135, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_entree, .section_plats, .section_desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 142, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food {
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #d4d4d4;
  margin-bottom: 20px;
  padding: 0;
}

/* line 155, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .greencheck {
  width: 80px;
}

/* line 158, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .fas.fa-check-circle {
  transform: rotate(-1turn);
  visibility: initial;
}

/* line 162, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .plats {
  margin-right: 0;
}

/* line 168, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.greencheck {
  height: 100%;
  width: 0px;
  background-color: #99e2d0;
  border-radius: 0px 25px 25px 0px;
  margin-left: 15px;
  transition: all 500ms;
  transform-origin: right;
}

/* line 178, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.fas.fa-check-circle {
  color: #FFFFFF;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  transform: rotate(90deg);
  transition: all 500ms;
  visibility: hidden;
}

/* line 189, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_entree .block_food {
  -webkit-animation: translate_bar 800ms backwards ease-out;
  animation: translate_bar 800ms backwards ease-out;
}

/* line 194, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_plats .block_food {
  -webkit-animation: translate_bar 800ms 200ms backwards ease-out;
  animation: translate_bar 800ms 200ms backwards ease-out;
}

/* line 199, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_desserts .block_food {
  -webkit-animation: translate_bar 800ms 400ms backwards ease-out;
  animation: translate_bar 800ms 400ms backwards ease-out;
}

@-webkit-keyframes translate_bar {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes translate_bar {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
  }
}

/* line 224, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 3%;
  padding-top: 4px;
  transition: all 500ms;
}

/* line 233, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats > p {
  margin: 0;
  padding-left: 3%;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 242, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats > p:nth-child(1) {
  font-weight: bold;
}

/* line 246, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food > p {
  margin-top: 4%;
  font-weight: bold;
  padding-left: 9%;
}

/* line 252, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
  transition: all 200ms;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

/* line 268, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article input:hover {
  background: linear-gradient(#9356dc, #FF79DA);
  opacity: 0.8;
  box-shadow: 9px 9px 33px -16px rgba(0, 0, 0, 0.75);
}

/* line 275, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 285, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 20%;
}

/* line 291, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

/* line 301, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > a > i {
  padding-right: 12%;
}

/* line 305, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.fa.fa-handshake-o {
  transform: rotate(-45deg);
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 317, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    padding-top: 2%;
    margin: 0 auto;
  }
  /* line 322, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 327, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  /* line 335, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    margin-left: 7%;
    display: initial;
    margin-right: 8%;
  }
  /* line 341, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind > a > i {
    font-size: 20px;
    color: #000000;
  }
  /* line 346, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header > figure > img {
    padding-left: 8%;
  }
  /* line 350, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 357, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 363, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-radius: 0;
  }
  /* line 370, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 382, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  /* line 389, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 394, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 25%;
    margin-right: 5%;
    font-size: 24px;
    color: #f6f6f6;
    -webkit-filter: drop-shadow(0px 0px 4px black);
    filter: drop-shadow(0px 0px 4px black);
    transition: color 200ms;
  }
  /* line 402, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 407, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 412, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 417, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 424, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 431, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 442, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .greencheck {
    width: 80px;
  }
  /* line 445, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .fas.fa-check-circle {
    transform: rotate(-1turn);
    visibility: initial;
  }
  /* line 449, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .plats {
    margin-right: 0;
  }
  /* line 455, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: 3%;
    margin-right: 15%;
  }
  /* line 463, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 473, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 477, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 9%;
    font-weight: bold;
  }
  /* line 482, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 497, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input:active {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 503, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: initial;
  }
  /* line 512, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 519, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    padding-left: 4%;
  }
  /* line 530, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding: 0;
  }
  /* line 534, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-cutlery {
    margin-right: 3%;
  }
  /* line 538, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
    margin-right: 2%;
  }
}

/*Query tablets*/
@media screen and (min-width: 481px) and (max-width: 999px) {
  /* line 551, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 557, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  body {
    font-family: roboto, serif;
  }
  /* line 561, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 566, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header {
    width: 100%;
  }
  /* line 570, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    display: none;
  }
  /* line 574, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header > figure {
    text-align: center;
    font-size: 34px;
  }
  /* line 579, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 586, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 592, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  /* line 600, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article {
    box-shadow: 0px 2px 1px #cecece inset;
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 613, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9%;
  }
  /* line 620, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 625, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 40%;
    margin-right: 5%;
  }
  /* line 630, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart > i {
    font-size: 24px;
    transition: all 300ms;
  }
  /* line 633, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart > i:hover {
    color: #9356dc;
  }
  /* line 638, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 643, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 648, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 655, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 662, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 673, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .greencheck {
    width: 80px;
  }
  /* line 676, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .fas.fa-check-circle {
    transform: rotate(-1turn);
    visibility: initial;
  }
  /* line 680, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .plats {
    margin-right: 0;
  }
  /* line 686, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 3%;
  }
  /* line 693, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 704, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 708, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 4%;
    font-weight: bold;
    margin-left: 9%;
  }
  /* line 714, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 729, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input:hover {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 735, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
  }
  /* line 745, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 20%;
  }
  /* line 751, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
  }
  /* line 761, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding-right: 12%;
  }
  /* line 765, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1900px) {
  /* line 773, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 2%;
  }
  /* line 777, ../../OneDrive/Bureau/MOOC/P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 55%;
  }
}

/*# sourceMappingURL=stylemenu.css.map */