@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

@font-face {
  font-family: 'shrikhand';
  src: url("../images/police/shrikhand/shrikhand-regular.ttf");
}

/* line 24, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 30, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
body {
  font-family: roboto, serif;
}

/* line 34, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
a {
  text-decoration: none;
  color: #000000;
}

/* line 39, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
header {
  width: 100%;
}

/* line 43, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.rewind {
  display: none;
}

/* line 47, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
header > figure {
  text-align: center;
  font-size: 34px;
}

/* line 52, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.on_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

/* line 59, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.photo_restau {
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* line 65, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.photo_restau > img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* line 72, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article {
  box-shadow: 0px 2px 1px #cecece inset;
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 20px;
  margin-top: 53%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* line 85, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9%;
}

/* line 92, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
h1 {
  font-family: shrikhand, serif;
  font-size: 32px;
}

/* line 97, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart {
  margin-left: 45%;
  font-size: 28px;
  color: #f6f6f6;
  filter: drop-shadow(0px 0px 4px black);
  transition: all 200ms 100ms;
}

/* line 103, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 108, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart > i {
  transform: scale(1);
  transition: all 300ms;
}

/* line 111, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart > i:hover {
  transform: scale(1.2);
}

/* line 116, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.little_title {
  margin-left: 9%;
  padding-bottom: 20px;
}

/* line 121, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
h2 {
  font-size: 20px;
  margin: 0;
}

/* line 126, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.green_bar {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 1%;
}

/* line 133, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_entree, .section_plats, .section_desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 140, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food {
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #d4d4d4;
  margin-bottom: 20px;
  padding: 0;
}

/* line 153, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .greencheck {
  width: 100px;
}

/* line 156, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .fas.fa-check-circle {
  transform: rotate(-1turn);
  visibility: initial;
}

/* line 163, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_entree .block_food {
  animation: translate_bar 800ms backwards ease-out;
}

/* line 167, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_plats .block_food {
  animation: translate_bar 800ms 200ms backwards ease-out;
}

/* line 171, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_desserts .block_food {
  animation: translate_bar 800ms 400ms backwards ease-out;
}

@keyframes translate_bar {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
  }
}

/* line 185, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 3%;
  padding-top: 4px;
}

/* line 193, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats > p {
  margin: 0;
  padding-left: 3%;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 202, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats > p:nth-child(1) {
  font-weight: bold;
}

/* line 206, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food > p {
  margin-top: 4%;
  font-weight: bold;
  padding-left: 9%;
}

/* line 212, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.greencheck {
  height: 100%;
  width: 0px;
  background-color: #99e2d0;
  border-radius: 0px 25px 25px 0px;
  margin-left: 15px;
  transition: all 500ms;
  transform-origin: right;
}

/* line 222, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.fas.fa-check-circle {
  color: #FFFFFF;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  transform: rotate(90deg);
  transition: all 500ms;
  visibility: hidden;
}

/* line 233, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
  transition: all 200ms;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

/* line 249, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article input:hover {
  background: linear-gradient(#9356dc, #FF79DA);
  opacity: 0.8;
}

/* line 255, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 265, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > img {
  filter: invert(100%);
  width: 20%;
}

/* line 270, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

/* line 280, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > a > i {
  padding-right: 12%;
}

/* line 284, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.fa.fa-handshake-o {
  transform: rotate(-45deg);
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 296, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    padding-top: 2%;
    margin: 0 auto;
  }
  /* line 301, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 306, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  /* line 314, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    margin-left: 7%;
    display: initial;
  }
  /* line 319, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind > a > i {
    font-size: 20px;
    color: #000000;
  }
  /* line 324, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header > figure > img {
    margin-left: 8%;
  }
  /* line 328, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 335, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 341, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    object-fit: cover;
    width: 100%;
  }
  /* line 346, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 358, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  /* line 365, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 370, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 20%;
    font-size: 24px;
    color: #f6f6f6;
    filter: drop-shadow(0px 0px 4px black);
    transition: color 200ms;
  }
  /* line 376, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 381, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 386, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 391, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 398, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 405, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 417, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: 3%;
  }
  /* line 424, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 435, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 439, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 9%;
    margin-left: 8%;
    font-weight: bold;
  }
  /* line 445, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 460, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input:active {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 466, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: initial;
  }
  /* line 475, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 481, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    padding-left: 4%;
  }
  /* line 492, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding: 0;
  }
  /* line 496, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-cutlery {
    margin-right: 3%;
  }
  /* line 500, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
    margin-right: 2%;
  }
}

/*Query tablets*/
@media screen and (min-width: 481px) and (max-width: 999px) {
  /* line 513, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 519, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  body {
    font-family: roboto, serif;
  }
  /* line 523, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 528, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header {
    width: 100%;
  }
  /* line 532, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    display: none;
  }
  /* line 536, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header > figure {
    text-align: center;
    font-size: 34px;
  }
  /* line 541, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 548, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 554, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  /* line 561, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article {
    box-shadow: 0px 2px 1px #cecece inset;
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 574, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9%;
  }
  /* line 581, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 586, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 40%;
    margin-right: 5%;
  }
  /* line 591, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart > i {
    font-size: 24px;
    transition: all 300ms;
  }
  /* line 594, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart > i:hover {
    color: #9356dc;
  }
  /* line 599, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 604, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 609, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 616, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 623, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 635, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 3%;
  }
  /* line 642, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 653, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 657, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 4%;
    font-weight: bold;
    margin-left: 9%;
  }
  /* line 663, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 678, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input:hover {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 684, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
  }
  /* line 694, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    filter: invert(100%);
    width: 20%;
  }
  /* line 699, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
  }
  /* line 709, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding-right: 12%;
  }
  /* line 713, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=stylemenu.css.map */