@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

@font-face {
  font-family: 'shrikhand';
  src: url("../images/police/shrikhand/shrikhand-regular.ttf");
}

/* line 24, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 30, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
body {
  font-family: roboto, serif;
}

/* line 34, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
a {
  text-decoration: none;
  color: #000000;
}

/* line 39, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
header {
  width: 100%;
}

/* line 43, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.rewind {
  display: none;
}

/* line 47, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
header > figure {
  text-align: center;
  font-size: 34px;
}

/* line 52, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.on_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

/* line 59, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.photo_restau {
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* line 65, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.photo_restau > img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* line 73, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article {
  box-shadow: 0px 2px 1px #cecece inset;
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 20px;
  margin-top: 53%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* line 86, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9%;
}

/* line 93, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
h1 {
  font-family: shrikhand, serif;
  font-size: 32px;
}

/* line 98, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart {
  margin-left: 45%;
  font-size: 28px;
  color: #f6f6f6;
  -webkit-filter: drop-shadow(0px 0px 4px black);
  filter: drop-shadow(0px 0px 4px black);
  transition: all 200ms 100ms;
}

/* line 105, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 110, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart > i {
  transform: scale(1);
  transition: all 300ms;
}

/* line 113, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.heart > i:hover {
  transform: scale(1.2);
}

/* line 118, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.little_title {
  margin-left: 9%;
  padding-bottom: 20px;
}

/* line 123, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
h2 {
  font-size: 20px;
  margin: 0;
}

/* line 128, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.green_bar {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 1%;
}

/* line 135, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_entree, .section_plats, .section_desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 142, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food {
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #d4d4d4;
  margin-bottom: 20px;
  padding: 0;
}

/* line 155, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .greencheck {
  width: 80px;
}

/* line 158, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .fas.fa-check-circle {
  transform: rotate(-1turn);
  visibility: initial;
}

/* line 162, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food:hover .plats {
  margin-right: 0;
}

/* line 168, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.greencheck {
  height: 100%;
  width: 0px;
  background-color: #99e2d0;
  border-radius: 0px 25px 25px 0px;
  margin-left: 15px;
  transition: all 500ms;
  transform-origin: right;
}

/* line 178, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.fas.fa-check-circle {
  color: #FFFFFF;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  transform: rotate(90deg);
  transition: all 500ms;
  visibility: hidden;
}

/* line 189, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_entree .block_food {
  -webkit-animation: translate_bar 800ms backwards ease-out;
  animation: translate_bar 800ms backwards ease-out;
}

/* line 194, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_plats .block_food {
  -webkit-animation: translate_bar 800ms 200ms backwards ease-out;
  animation: translate_bar 800ms 200ms backwards ease-out;
}

/* line 199, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.section_desserts .block_food {
  -webkit-animation: translate_bar 800ms 400ms backwards ease-out;
  animation: translate_bar 800ms 400ms backwards ease-out;
}

@-webkit-keyframes translate_bar {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes translate_bar {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
  }
}

/* line 224, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 3%;
  padding-top: 4px;
  transition: all 500ms;
}

/* line 233, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats > p {
  margin: 0;
  padding-left: 3%;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 242, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.plats > p:nth-child(1) {
  font-weight: bold;
}

/* line 246, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.block_food > p {
  margin-top: 4%;
  font-weight: bold;
  padding-left: 9%;
}

/* line 252, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
  transition: all 200ms;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

/* line 268, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
article input:hover {
  background: linear-gradient(#9356dc, #FF79DA);
  opacity: 0.8;
  box-shadow: 9px 9px 33px -16px rgba(0, 0, 0, 0.75);
}

/* line 275, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 285, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 20%;
}

/* line 291, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

/* line 301, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
footer > a > i {
  padding-right: 12%;
}

/* line 305, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
.fa.fa-handshake-o {
  transform: rotate(-45deg);
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 317, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    padding-top: 2%;
    margin: 0 auto;
  }
  /* line 322, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 327, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  /* line 335, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    margin-left: 7%;
    display: initial;
    margin-right: 8%;
  }
  /* line 341, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind > a > i {
    font-size: 20px;
    color: #000000;
  }
  /* line 346, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header > figure > img {
    padding-left: 8%;
  }
  /* line 350, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 357, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 363, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
  /* line 369, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 381, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  /* line 388, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 393, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 25%;
    margin-right: 5%;
    font-size: 24px;
    color: #f6f6f6;
    -webkit-filter: drop-shadow(0px 0px 4px black);
    filter: drop-shadow(0px 0px 4px black);
    transition: color 200ms;
  }
  /* line 401, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 406, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 411, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 416, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 423, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 430, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 441, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .greencheck {
    width: 80px;
  }
  /* line 444, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .fas.fa-check-circle {
    transform: rotate(-1turn);
    visibility: initial;
  }
  /* line 448, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .plats {
    margin-right: 0;
  }
  /* line 454, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: 3%;
    margin-right: 15%;
  }
  /* line 462, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 472, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 476, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 9%;
    font-weight: bold;
  }
  /* line 481, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 496, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input:active {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 502, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: initial;
  }
  /* line 511, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 518, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    padding-left: 4%;
  }
  /* line 529, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding: 0;
  }
  /* line 533, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-cutlery {
    margin-right: 3%;
  }
  /* line 537, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
    margin-right: 2%;
  }
}

/*Query tablets*/
@media screen and (min-width: 481px) and (max-width: 999px) {
  /* line 550, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .bloc_page {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 556, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  body {
    font-family: roboto, serif;
  }
  /* line 560, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 565, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header {
    width: 100%;
  }
  /* line 569, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .rewind {
    display: none;
  }
  /* line 573, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  header > figure {
    text-align: center;
    font-size: 34px;
  }
  /* line 578, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .on_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* line 585, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  /* line 591, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .photo_restau > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  /* line 599, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article {
    box-shadow: 0px 2px 1px #cecece inset;
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 20px;
    margin-top: 53%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /* line 612, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9%;
  }
  /* line 619, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h1 {
    font-family: shrikhand, serif;
    font-size: 28px;
  }
  /* line 624, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 40%;
    margin-right: 5%;
  }
  /* line 629, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart > i {
    font-size: 24px;
    transition: all 300ms;
  }
  /* line 632, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart > i:hover {
    color: #9356dc;
  }
  /* line 637, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .little_title {
    margin-left: 9%;
    padding-bottom: 20px;
  }
  /* line 642, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  h2 {
    font-size: 20px;
    margin: 0;
  }
  /* line 647, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .green_bar {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    margin-top: 1%;
  }
  /* line 654, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .section_food {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  /* line 661, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food {
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-bottom: 20px;
  }
  /* line 672, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .greencheck {
    width: 80px;
  }
  /* line 675, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .fas.fa-check-circle {
    transform: rotate(-1turn);
    visibility: initial;
  }
  /* line 679, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food:active .plats {
    margin-right: 0;
  }
  /* line 685, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 3%;
  }
  /* line 692, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p {
    margin: 0;
    padding-left: 3%;
    line-height: 1.5;
    padding-top: 1%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 703, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .plats > p:nth-child(1) {
    font-weight: bold;
  }
  /* line 707, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 4%;
    font-weight: bold;
    margin-left: 9%;
  }
  /* line 713, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 728, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  article input:hover {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 734, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
  }
  /* line 744, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 20%;
  }
  /* line 750, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
  }
  /* line 760, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  footer > a > i {
    padding-right: 12%;
  }
  /* line 764, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1900px) {
  /* line 772, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .block_food > p {
    margin-top: 2%;
  }
  /* line 776, ../P3/ohmyfood/CSS-SCSS/SCSS/stylemenu.SCSS */
  .heart {
    margin-left: 55%;
  }
}

/*# sourceMappingURL=stylemenu.css.map */