@font-face {
  font-family: 'roboto';
  src: url("../images/police/roboto/roboto-black.ttf");
  src: url("../images/police/roboto/roboto-bold.ttf");
  src: url("../images/police/roboto/roboto-light.ttf");
  src: url("../images/police/roboto/roboto-medium.ttf");
  src: url("../images/police/roboto/roboto-regular.ttf");
  src: url("../images/police/roboto/roboto-thin.ttf");
}

/* line 18, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.bloc_page {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 1;
}

/* line 25, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #332f32;
  opacity: 1;
  animation: backload 7400ms forwards ease-in;
}

@keyframes backload {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

/* line 48, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.ball1 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  animation: slideball 1400ms both ease-in-out;
  animation-iteration-count: 3;
  margin-top: 50vh;
}

/* line 58, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.ball2 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  margin-left: 2%;
  animation: slideball 1400ms 1400ms both ease-out;
  animation-iteration-count: 3;
  margin-top: 50vh;
}

/* line 69, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.ball3 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  margin-left: 2%;
  animation: slideball 1400ms 2800ms both ease-out;
  animation-iteration-count: 3;
  margin-top: 50vh;
}

@keyframes slideball {
  0% {
    transform: scale(0);
    background-color: #FF79DA;
  }
  10% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
  }
  30% {
    transform: scale(0.6);
    background-color: #9356DC;
  }
  40% {
    transform: scale(0.5);
    background-color: #FF79DA;
  }
  50% {
    transform: scale(1);
    background-color: #9356DC;
  }
  60% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(0.6);
    background-color: #9356DC;
  }
  80% {
    transform: scale(0.4);
    background-color: #bd58e2;
  }
  90% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0);
    background-color: #FF79DA;
  }
}

/* line 124, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
body {
  margin: 0;
  font-family: roboto, serif;
  position: absolute;
}

/* line 130, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
a {
  text-decoration: none;
  color: #000000;
}

/* line 135, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* line 141, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
header > figure {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

/* line 148, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.localisation {
  width: 100%;
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px #cecece inset;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 24px;
}

/* line 160, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.localisation > i {
  padding-right: 5%;
}

/* line 164, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
section {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 171, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
section > h1 {
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
}

/* line 177, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
section > p {
  font-size: 26px;
}

/* line 181, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
section > input {
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 50px;
  text-decoration: none;
  padding: 13px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  box-shadow: 0.5px 0.5px 2px #000;
  transition: all 200ms;
  outline: none;
  cursor: pointer;
}

/* line 193, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
section > input:hover {
  background: linear-gradient(#9356dc, #FF79DA);
  opacity: 0.8;
  box-shadow: 9px 9px 33px -16px rgba(0, 0, 0, 0.75);
}

/* line 200, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  padding-bottom: 30px;
}

/* line 209, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
aside > h2 {
  padding-right: 42%;
  font-weight: bold;
}

/* line 214, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.block_use {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  box-shadow: 6px 4px 8px #eaeaea;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: all 300ms ease-out;
  background-color: #f6f6f6;
  position: relative;
  cursor: pointer;
}

/* line 227, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.block_use:hover {
  background-color: #eee5fa;
  transform: scale(1.1);
}

/* line 230, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.block_use:hover .fa.fa-mobile, .block_use:hover .fa.fa-list-ul, .block_use:hover .fas.fa-store.main-operation__icons {
  color: #9356dc;
}

/* line 236, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.fa.fa-mobile, .fa.fa-list-ul, .fas.fa-store.main-operation__icons {
  color: #454142;
  padding-left: 6%;
  padding-right: 6%;
  transition: color;
}

/* line 243, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.purple_number {
  margin-left: -2%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #9356dc;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
}

/* line 254, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
nav {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px -2px 1px #cecece inset;
}

/* line 269, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
nav > h2 {
  padding-right: 51%;
  font-size: 36px;
}

/* line 274, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.block_restau {
  height: 230px;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px #d4d4d4;
}

/* line 286, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.block_restau img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

/* line 293, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.block_restau p {
  margin: 0 auto;
  display: block;
  padding-bottom: 8px;
}

/* line 299, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.text_restau {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px;
  padding-top: 4px;
  padding-left: 5%;
  color: #000000;
}

/* line 309, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.restau_title {
  font-weight: bold;
}

/* line 313, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.heart {
  margin-left: 35%;
  margin-top: 10px;
  font-size: 24px;
  color: #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 4px black);
  transition: all 200ms 100ms;
}

/* line 321, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.heart:hover {
  color: #9356dc;
}

/* line 326, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.heart > i {
  transform: scale(1);
  transition: all 300ms;
}

/* line 329, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.heart > i:hover {
  transform: scale(1.2);
}

/* line 334, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #353535;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 2%;
}

/* line 344, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
footer > img {
  filter: invert(100%);
  width: 20%;
}

/* line 349, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
footer > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

/* line 359, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
footer > a > i {
  padding-right: 12%;
}

/* line 363, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
.fa.fa-handshake-o {
  transform: rotate(-45deg);
}

/*Query Smartphone*/
@media screen and (max-width: 480px) {
  /* line 373, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .bloc_page {
    padding-top: 4%;
    margin: 0;
  }
  /* line 378, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  body {
    margin: 0 auto;
    font-family: roboto, serif;
  }
  /* line 383, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 388, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* line 394, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  header > figure {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  /* line 401, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .localisation {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #cecece inset;
    font-weight: bold;
    border-radius: 0;
  }
  /* line 411, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .localisation > i {
    padding-right: 5%;
  }
  /* line 415, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  /* line 422, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > h1 {
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
  }
  /* line 428, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
  }
  /* line 438, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > input:active {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.8;
  }
  /* line 444, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
  }
  /* line 452, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  aside > h2 {
    padding-right: 40%;
    font-weight: bold;
  }
  /* line 457, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_use {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    box-shadow: 6px 4px 8px #e7e7e7;
    border-radius: 15px;
    margin-bottom: 25px;
    background-color: #f6f6f6;
  }
  /* line 469, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  aside > i {
    color: #9356dc;
    padding-left: 6%;
    padding-right: 6%;
  }
  /* line 474, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .purple_number {
    margin-left: -4%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9356dc;
    text-align: center;
    color: #FFFFFF;
  }
  /* line 484, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  nav {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 60px;
    border-radius: 0;
  }
  /* line 496, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  nav > h2 {
    font-size: 30px;
  }
  /* line 500, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_restau {
    height: 210px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
  }
  /* line 512, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_restau img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
  /* line 519, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_restau p {
    margin: 0 auto;
  }
  /* line 523, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .text_restau {
    height: 70px;
    color: #000000;
  }
  /* line 528, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .restau_title {
    font-weight: bold;
  }
  /* line 532, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .heart {
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 4%;
    margin-left: 30%;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px black);
    transition: color 200ms;
  }
  /* line 540, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 545, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: initial;
  }
  /* line 554, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer > img {
    filter: invert(100%);
    width: 25%;
    padding: 4%;
  }
  /* line 561, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 0.2;
    padding-left: 4%;
  }
  /* line 573, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer > a > i {
    padding: 0;
  }
  /* line 577, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .fa.fa-cutlery {
    margin-right: 3%;
  }
  /* line 581, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
    margin-right: 2%;
  }
}

/*Query tablets*/
@media screen and (min-width: 481px) and (max-width: 999px) {
  /* line 593, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .bloc_page {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 599, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  body {
    font-family: roboto, serif;
  }
  /* line 603, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  a {
    text-decoration: none;
    color: #000000;
  }
  /* line 608, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* line 614, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  header > figure {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 621, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .localisation {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #cecece inset;
    font-weight: bold;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 24px;
  }
  /* line 633, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .localisation > i {
    padding-right: 5%;
  }
  /* line 637, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  /* line 644, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > h1 {
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
  }
  /* line 650, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > p {
    font-size: 26px;
  }
  /* line 654, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > input {
    background: linear-gradient(#FF79DA, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    padding: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    box-shadow: 0.5px 0.5px 2px #000;
    transition: all 200ms;
  }
  /* line 664, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  section > input:hover {
    background: linear-gradient(#9356dc, #FF79DA);
    opacity: 0.9;
  }
  /* line 670, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    padding-bottom: 30px;
  }
  /* line 679, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  aside > h2 {
    padding-right: 42%;
    font-weight: bold;
  }
  /* line 684, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_use {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    box-shadow: 6px 4px 8px #e7e7e7;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: all 300ms;
    position: relative;
  }
  /* line 695, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_use:hover {
    background-color: #f6f6f6;
    transform: scale(1.1);
  }
  /* line 701, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  aside i {
    color: #9356dc;
    padding-left: 6%;
    padding-right: 6%;
  }
  /* line 706, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .purple_number {
    margin-left: -3%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9356dc;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
  }
  /* line 717, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  nav {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px -2px 1px #cecece inset;
  }
  /* line 732, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  nav > h2 {
    padding-right: 51%;
    font-size: 36px;
  }
  /* line 737, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_restau {
    height: 230px;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
  }
  /* line 749, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_restau img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
  /* line 756, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .block_restau p {
    margin: 0 auto;
    display: block;
    padding-bottom: 8px;
  }
  /* line 762, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .text_restau {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    padding-top: 4px;
    padding-left: 5%;
    color: #000000;
  }
  /* line 772, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .restau_title {
    font-weight: bold;
  }
  /* line 776, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .heart {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 24px;
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px black);
    transition: all 200ms;
  }
  /* line 783, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .heart:active {
    color: #9356dc;
  }
  /* line 788, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .heart > i {
    transform: scale(1);
    transition: all 500ms;
  }
  /* line 791, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .heart > i:hover {
    transform: scale(1.2);
  }
  /* line 796, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 2%;
  }
  /* line 806, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer > img {
    filter: invert(100%);
    width: 20%;
    padding-left: 3%;
    padding-right: 5%;
  }
  /* line 813, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    width: 20%;
    padding-left: 8%;
    text-align: center;
  }
  /* line 826, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  footer > a > i {
    padding-right: 10%;
  }
  /* line 830, ../P3/ohmyfood/CSS-SCSS/SCSS/style.SCSS */
  .fa.fa-handshake-o {
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */